.sidebar-appear-enter {
    transform: translateX(100%);
}
.sidebar-appear-enter-active {
    transform: translateX(0);
    transition: transform linear 300ms;
}
.sidebar-appear-exit {
    transform: translateX(0);
}
.sidebar-appear-exit-active {
    transition: transform linear 300ms;
    transform: translateX(100%);
}
