.sidebar-appear-enter {
    transform: translateX(100%);
}
.sidebar-appear-enter-active {
    transform: translateX(0);
    transition: transform linear 300ms;
}
.sidebar-appear-exit {
    transform: translateX(0);
}
.sidebar-appear-exit-active {
    transition: transform linear 300ms;
    transform: translateX(100%);
}

.from-transparent-enter {
    opacity: 0;
}

.from-transparent-enter-active {
    transition: opacity 200ms ease-in;
    opacity: 1;
}

.from-transparent-exit {
    opacity: 1;
}

.from-transparent-exit-active {
    opacity: 0;
    transition: opacity 200ms ease-out;
}
