.b {
    border: 3px red solid;
}

* {
    font-family: "Playfair Display", serif;
}
html {
    scroll-behavior: smooth;
}

svg {
    height: auto;
}

video::-webkit-media-controls {
    display: none !important;
}
